<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict/>
    </array>
    <key>NSFaceIDUsageDescription</key>
    <string>Используется для входа в приложение</string>
    <key>NSCameraUsageDescription</key>
    <string>Используется для сканирования чеков</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Используется для выбора чека из галереи</string>
</dict>
</plist>
